/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/banner.avif);
    background-position: center;
    background-size: cover;
}
.logo {
    font-size: 230%;
    color: rgb(43, 81, 114);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 60px;
    padding-top: 20px;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
}
/* navlinks */
#navlinks {
    flex: 1;
    text-align: left;
    width: 230px;
    height: 100vh;
    position: fixed;
    right: -230px;
    top: 20px;
    z-index: 2;
    background: #dc6c64;
    transition: 0.5s;
}
#navlinks ul li {
    list-style: none;
    padding: 8px 12px;
    margin: 20px 10px;
}
#navlinks ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}
#navlinks ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(162, 59, 25);
    display: block;
    margin: auto;
    transition: 0.4s;
}
#menubtn {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 60px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
    font-size: 180%;
}
/* hover effect for links*/
#navlinks ul li:hover::after {
    width: 100%;
}
/*content*/
.text-box {
    width: 90%;
    color: rgb(219, 103, 99);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 19px;
    color: rgb(125, 105, 105);
}
/*hero button*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.8s;
}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
/* About Us */
.sub-header {
    height: 60vh;
    width: 100%;
    background-image: url(../images/about.pmg.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #383838;
}
.sub-header h1 {
    margin-top: 140px;
    font-size: 230%;
}
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 25px;
}

/*red-btn styles */
#red-btn {
    border: 1px solid #f44336;
    color: #f44336;
}
#red-btn:hover {
    color: #fff;
}

/* Courses */
.courses {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 25px;
}
.courses h1 {
    font-size: 280%;
    background-image: url(../images/courses6.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.course {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.course img {
    width: 100%;
    border-radius: 10px;
}
.course p {
    padding-bottom: 10px;
}
.course h3 {
    padding-bottom: 20px;
    padding-top: 70px;
}
/* Sign Up */
.signup h1 {
    font-size: 230%;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    color: #3a3a3a;
}
#signup {
    background-image: url("../images/signup.avif");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    border-radius: 10px;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


/* location */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe {
    width: 100%;
}

/* contact */
.contact {
    width: 80%;
    margin: auto;
}
.contact-us {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-us div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-us div p {
    padding: 0;
}
.contact-us div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #423c3c;
    font-weight: 400;
}




/* media querries for smaller devices */
@media (max-width: 770px) {
    .text-box h1 {
        font-size: 20px;
    }
    #navlinks {
        display: flex;
        padding-top: 25px;
    }
    #menu {
        padding-top: 20px;
    }
    .s-title {
        padding-top: 30px;
        font-size: 50px;
    }
    
    #texts {
        padding-top: 30px;
    }
    .hero-btn {
        padding-top: 15px;
    }
    .logo {
        padding-left: 20px;
        font-size:30px
    }
    #menubtn {
        padding-right: 15px;
    }
    #navlinks {
        padding-bottom: 15px;
    }
    .sub-header h1 {
        margin: inherit;
    font-size: 180%;
    }

}
/* media queries for larger devices */
@media screen and (min-width: 992px) {
    .logo {
        font-size: 50px;
    }
      .hero-btn {
          font-size: 30px;
          margin-top: 20px;
      }
     #texts {
         font-size: 30px;
         margin-top:15px;
     }
    .s-title {
        font-size: 35px;
    }
    #menubtn {
        font-size: 40px;
    }
    #navlinks {
        font-size: 25px;
        padding-top: 20px;
}
  /* media qeury for signup form */
  #signup-form {
    margin: auto;
  }

}